body {
    display: fixed;
    background-color: green;
}

header .UserSection img {
    position: relative;
    width: 120px;
    height: 120px;
   border-radius: 50%; 
   top: 400px;
   left: 20px;
}

header h1 {
    display: flex;
    justify-content: center;
    font-family: Arial;
    color: white;
}

header .UserSection {
    position: relative;
    background-color: white;
    height: 160px;
    backdrop-filter: blur(3px);
}


header .UserSection h2 {
    position: relative;
    left: 160px;
    bottom: 120px;
    font-family: Arial, Sans-Serif;
}

header .UserSection p {
    font-family: Arial, Sans-Serif;
    color: red;
    
}